@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EMS DataBase</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://github.com/tonmoy1996?tab=repositories" class="btn btn-primary btn-lg" target="_blank" >Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-10">
        <p><a href="/Employee" class="btn btn-primary btn-lg">Employee </a></p>
        <p><a href="Department" class="btn btn-primary btn-lg">Department </a></p>

    </div>
  
</div>